<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="HeNanWuJingEntities" connectionString="metadata=res://*/Company.csdl|res://*/Company.ssdl|res://*/Company.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.115.151.150;initial catalog=HeNanWuJing;persist security info=True;user id=sa;password=MAPEAK02450;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
