<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="HeNanWuJingEntities" connectionString="metadata=res://*/Company.csdl|res://*/Company.ssdl|res://*/Company.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.80.130;initial catalog=Company;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
